{% extends "base.html" %}

{% block main %}
<div>
  <h1>Contact Form</h1>
  <hr>
  <p>Fill in this form to contact the site owners</p>
  <br>
</div>
<form method="POST" action="{{ url_for('contact') }}">
  {{ form.csrf_token }}
  <div class="form-field">{{ form.name.label }} {{ form.name(size=20) }}</div>
  <div class="form-field">{{ form.email.label }} {{ form.email }}</div>
  <div class="form-field">{{ form.subject.label }} {{ form.subject }}</div>
  <div class="form-field">{{ form.message.label }} {{ form.message }}</div>
  <button type='submit'>Send</button>
</form>

{% endblock %}
